<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width">
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=String.prototype.repeat"></script>
  <script src="https://statics.teams.microsoft.com/sdk/v1.0/js/MicrosoftTeams.min.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
